html, body {
    height: 100%;
    margin: 0;
}
body {
    background-image: url(../img/catrina.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    min-height: 100vh;
}

main {
  flex: 1; /* Esto hará que el main ocupe el espacio disponible */
}

footer {
  padding: 20px 0; /* Espaciado para el footer */
  background-color: #050811;
}

h1 {
  padding-top: 2rem;
  font-size: 3.5rem;
  letter-spacing: 4px;
  font-weight: bolder;
  color: #e5602f; /* Color del texto */
  text-align: center; /* Centrar el texto */
  text-shadow: 
      2px 2px 0px rgba(0, 0, 0, 0.5),  /* Sombra negra para dar profundidad */
      3px 3px 5px rgba(0, 0, 0, 0.7),  /* Sombra más difusa para un efecto de profundidad */
      0 0 20px rgba(255, 255, 255, 0.3), /* Resplandor suave en blanco */
      0 0 30px rgba(229, 96, 47, 0.8), /* Resplandor en el mismo tono con más intensidad */
      0 0 40px rgba(229, 96, 47, 0.5); /* Resplandor más difuso */
  transition: transform 0.3s ease; /* Efecto de transición suave */
}

h1:hover {
  transform: scale(1.05); /* Aumentar ligeramente el tamaño al pasar el ratón */
  color: #ff8c5a; /* Cambiar a un tono más claro al pasar el ratón */
}

h2{
    padding-top: 2.5rem;
    font-size: 3rem;
    color: #e5602f;
}
.section{
    padding: 2rem;
}

/* Boton*/ 
.boton {
    width: 10em;
    position: relative;
    height: 3.5em;
    border: 3px ridge #e5602f;
    outline: none;
    background-color: transparent;
    color: white;
    transition: 1s;
    border-radius: 0.3em;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .boton::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: #050811;
    transition: 0.5s;
    transform-origin: center;
  }
  
  .boton::before {
    content: "";
    transform-origin: center;
    position: absolute;
    top: 80%;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: #050811;
    transition: 0.5s;
  }
  
  .boton:hover::before, .boton:hover::after {
    transform: scale(0)
  }
  
  .boton:hover {
    box-shadow: inset 0px 0px 25px #e5602f;
  }

  /* Cierra Boton*/